div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
<p style="background-color: green;font: size 18px;color: white">My name is Mya</p>